*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  background-color: #141414;
  color: white;
}

header {
  nav {
    div.navbar-brand {
      height: 60px;
      img {
        height: 100%;
      }
    }
  }
}

main {
  height: calc(100vh - 80px);
  div#max-width {
    max-width: 700px;
    margin-inline: auto;
    div#all-container {
      div#img-avatar {
        height: 130px;
        width: 130px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      div#kinda-form {
        div#first-part {
          div {
            &.dropdown {
              button {
                width: 100%;
                text-align: left;
                font-weight: 500;
              }
            }
            &:nth-of-type(2) {
              div {
                width: 130px;
              }
            }
          }
        }
        div#second-part {
          button {
            &:first-of-type {
              background-color: #353535;
              font-weight: 500;
            }
            &:nth-of-type(2) {
              position: relative;
            }
          }
        }
        div#third-part {
          div {
            input {
              height: 30px;
              width: 30px;
              border: 1px solid #353535;
            }
          }
        }
      }
    }
    div#under-all-container {
      width: 100%;
      button {
        &:nth-of-type(2),
        &:nth-of-type(3) {
          position: relative;
        }
      }
    }
  }
}

.bordo-grigio {
  border-bottom: 1px solid #353535;
}

h4 {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #141414;
    opacity: 50%;
  }
}

.scurito {
  &::after {
    content: "";
    position: absolute;
    inset: -1px;
    background-color: #141414;
    opacity: 70%;
  }
}
